header {
    text-align: center;
}

main {
    margin-bottom: 50px;
    padding-left: 25px;
}

h3, p {
    margin: 0;
    padding: 0;
}

section {
    margin-bottom: 50px;
}

article {
    margin: 30px 15px;
}



span {
    font-weight: bold;
    text-align: center;
}